/* General Stles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    line-height: 1.6;
}

/* Prevents footer floating up on short pages. */
.main-content {
  min-height: calc(100vh - 160px); /* nav + footer height */
}

/* Navigation */
.cart-count-btn {
    height: 40px;
    width: 100px;
    align-content: center;
    text-align: center;
    background-color: #ffbe33 !important;
}
.cart-count {
    background-color: #222831;
    color: #FFF;
    padding: 0px 6px;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    font-size: 11px;
}
/* Home Page */
.hero-section-container {
    padding: 0 !important;
 }

.offer_section {
    position: relative;
    padding-bottom: 45px;
}
.offer_section .box {
    display: flex;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #222831;
    color: #ffffff;
}

.offer_section .box .offer-img-box {
    width: 175px;
    min-width: 175px;
    height: 175px;
    margin-right: 15px;
    position: relative;
    -webkit-transition: all 0.1 0.5s;
    transition: all 0.1 0.5s;
    border-radius: 100%;
    border: 5px solid #ffbe33;
    overflow: hidden;
}
.button-link {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
}
.offer_section .box .detail-box h5 {
    font-family: 'Segoe UI', cursive;
    font-size: 24px;
    margin: 0;
}
.offer_section .box .detail-box h6 {
    font-family: 'Segoe UI', cursive;
    margin: 10px 0;
}
@media (max-width: 992px) {
    .offer_section .box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .offer_section .box .img-box {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 430px) {
    .offer_section .box {
        flex-direction: column;
        text-align: center;
    }
    .offer_section .box .img-box {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.layout_padding {
    padding: 90px 0;
}
.heading_container {
    margin-bottom: 25px;
}


.book_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #000000;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nice-select.wide {
    width: 100%;
}

select {
    word-wrap: normal;
    text-transform: none;
}

/* About page */

.about_section {
    background: #222831;
    color: #ffffff;
}

.about_section .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.about_section .img-box img {
    width: 100%;
    padding: 10px;
    max-width: 445px;
    position: relative;
    z-index: 2;
}


/* Menu pages */
.filters_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
.food_section .filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
}
.food_section .filters_menu li.active {
    background-color: #222831;
    color: #ffffff;
}

.food_section .box {
    position: relative;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

.food_section .box .img-box {
    background: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
}
.food_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.food_section .box .detail-box {
    padding: 25px;
}
.food_section .box .options {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}